html,body{height:100%;overflow: hidden;}
body{font-size:14px;}
html,body,p,ul,ol,li,dl,dt,dd{margin:0;padding:0;}
ul,ol{list-style:none;}
img{border:none;}
select{padding:4px;}
table{border-collapse:collapse;border-spacing:0;}
input,select,button,textarea{font-size:inherit; vertical-align:middle;}
button,input[type=button],input[type='submit']{padding:8px 50px;}
input{padding:3px;box-sizing:border-box;}
input[type=file]{width:100px;}
input[type=radio],input[type=checkbox]{width:16px;height:16px;}
.big input[type=radio],.big input[type=checkbox]{width:24px;height:24px;}
textarea{width:400px;height:40px;}
/* TODO: font-face:
    consoleWarn:
    1.Failed to decode downloaded font,
    2.OTS parsing error: vhea: Failed to parse table
*/
/* @font-face{
    font-family: 'xingShu';
    src:url('assets/fonts/xingshu.ttf') format('truetype');
} */
.red{color:#f00;}
.unline{text-decoration:underline;}
.red{color:#f00;}
.b{font-weight:bold;}
.tc{text-align:center;}
.bold{font-weight:bold;}
.f12{font-size:12px;}
.fix:after{content:'';clear: both;display:table;visibility:hidden;}
.fix-l{float: left;}
.fix-r{float:right;}
.colorbbb{color: #bbb;}
.huanok{color: rgb(73, 73, 73);}
.huanok::before{content: '✔'; color:lawngreen; font-size: 130%}
.huanpt{color: rgb(73, 73, 73);}
.huanpt::before{content: '◕'; color: orange; font-size: 140%}
.huanno{color: rgb(73, 73, 73);}
.huanno::before{content: '✘'; color:orangered; font-size: 130%}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

.lowtd{color:#af4c33;}
.ofstd{font-size:13px;}
.tb th,.tb td{border:1px solid #ccc;padding:8px 5px;font-size:13px;}
.tb tr>td.bd-btm-dark{border-bottom-color:#666;}
.tb th{background:#e0e0e0;}
.tb tbody tr.checked td{background: rgba(96, 133, 124, 0.15);}
.tb tbody tr:hover td{background:rgba(171, 168, 69, 0.24);}
.tb tbody tr.nohover:hover td{background:transparent;}
.td-active, .tb tbody tr.checked td.td-active{background: rgba(176, 229, 255, .5);}
.tb a.del,.tb a.edit,.tb a.detail{white-space: nowrap;}
.tb .del{color:#888;}
.tb .edit{color:#38a0ca;}
.tb .detail{color:#905050;}
.tb a.del:hover,.tb a.edit:hover,.tb a.detail:hover{color: #fb035d;}
.max1300{width:100%;max-width:1300px;margin:0 auto;}
@media (min-width: 1920px) { .max1300{ max-width:none; } }
.paylist{position:relative;}
#tb1>tbody>tr>td[rowspan],#tb1>tbody>tr>td[rowspan-none]{border-left-color:#000;border-bottom-color:#000;font-weight:bold;}
.godtable{min-width:400px;}
.godtable td{border:1px solid #ccc;padding:4px 10px;}
.godtable th{border:1px solid #ccc;padding:7px 0;font-size:12px;}
.n_table{font-size:17px;line-height: 2.5;padding:20px;}
.n_table>tbody>tr>td{border-bottom:1px dashed #ccc;padding-left:16px;}
.n_table>tbody>tr>th{border-right:1px dashed #ccc;border-bottom:1px dashed #ccc;text-align: right;}
.n_table>tbody>tr:nth-child(1)>td,.n_table>tbody>tr:nth-child(1)>th{border-top:1px dashed #ccc;}
.n_table table{font-size:13px;line-height: 1.3;}
.n_table table td,.n_table table th{border:1px solid #ccc;padding:6px;}
.n_table .tbpadding{padding:10px 0 10px 20px;}
@media (max-width: 1370px) {
    .n_table{line-height: 2.3;}
}
.n_h3{font-weight:normal;font-size:26px;text-align:center}
.n_h3::before{content: '[ '}
.n_h3::after{content: ' ]'}
.n_td{line-height:1.5;font-size:15px;padding:10px 0;}
.n_money{font-weight:bold;color:red;}
.n_gray{color:#ccc;}
.n_ccc{color:#666;font-size:15px;}

.mainer{height:100%;display: flex;flex-direction: column;}
.main-t{flex:none;}
.main-m{flex:1;overflow-y: auto;margin-top: 10px ; box-shadow: 2px -1px 4px 0 #838095a6}
.main-b{flex:none;}

.mmopfu_{font-size: 92%; color: #888;}